{% extends "OM\ClientBundle::layout.html.twig" %}

{% block content %}
    <div class="view active">
        Greet
    </div>
    <div class="view">
        Register
    </div>
    <div class="view">
        Login
    </div>
    <div class="view">
        Main
    </div>
{% endblock %}